.stats
  display: flex
  justify-content: space-between
.game
  display: flex
  .square
    width: 10px
    height: 10px
  .wall
    background: darken(grey,25%)
  .floor
    background: yellow
  .player
    background: green
  .health
    background: white
    color: red
    font-size: 1em
    display: flex
    justify-content: center
    font-weight: bold
    line-height: 0.6
